<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<%- include('./partials/nav') %>
<body>
  <h1>Home Page</h1>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone %></p>
  <% if (restaurant.isOpen) { %>
    <p>Yes we are open!</p>
  <% } else { %>
    <p>Sorry, we are closed.</p>
  <% } %>
</body>
</html>
